.ipynb_checkpoints/
*.lprof
.DS_Store
__pycache__
image-reverse/cluster-4.txt
GPU-programming/1.csv
*/.vscode/launch.json
*/testClips/
*/trainClips/
*/valClips/
*/faces/
*/file_receive
.vscode
.virtual_documents
quantum/torchquantum/mnist_data/*
